@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* approximate slate-950 */
  --bg-dark: #020617;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", "Segoe UI", sans-serif;
}
