spring:
  datasource:
    url: jdbc:h2:file:./data/aiinterview-db;DB_CLOSE_DELAY=-1;MODE=PostgreSQL;DATABASE_TO_UPPER=false
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: ee.kerrete.ainterview.config.H2FriendlyPostgreSQLDialect

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
    drop-first: false
    clear-checksums: false

  h2:
    console:
      enabled: true
      path: /h2-console
